:root {
	--theme: rgb(255, 255, 255);
	--entry: rgb(255, 255, 255);
	--primary: rgb(55, 65, 81);
	--secondary: rgba(55, 65, 81);
	--code-bg: rgb(255, 255, 255);
	--border: rgb(255, 255, 255);
	--main-width: 56rem;
	--nav-width: 56rem;
}

.dark {
	--primary: rgb(248, 250, 252);
	--entry: rgb(29, 30, 32);
	--border: rgb(29, 30, 32);
}


.entry-header h2, .post-title {
	font-size: 3rem;
}

.entry-content {
	margin: 18px 0;
	font-size: 18px;
}

.header {
	padding: 2.5rem 0px;
}

.post-entry {
	padding: var(--gap) 0px;
}